* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(217, 54%, 11%);
  height: 100vh;
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 350px;
  height: auto;
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  box-shadow: 0px 25px 25px rgba(3, 9, 23, 0.5);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.images {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.mainimg {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(178, 100%, 50%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.view {
  width: 50px;
  height: 50px;
}
.images:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
.images:active {
  opacity: 0.5;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 22px;
  font-weight: 600;
  margin-top: 24px;
  transition: 0.5s;
}
h1:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
h1:active {
  opacity: 0.5;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pone {
  color: hsl(215, 51%, 70%);
  font-size: 15px;
  letter-spacing: 0.188px;
  margin-top: 24px;
  margin-bottom: 24px;
}
#iconone {
  vertical-align: middle;
}
.iconp {
  display: inline-block;
  margin-right: 100px;
  margin-left: 5px;
  color: hsl(178, 100%, 50%);
  vertical-align: middle;
}

#icontwo {
  vertical-align: middle;
}

.iconptwo {
  display: inline-block;
  color: hsl(215, 51%, 70%);
  vertical-align: middle;
}

#avatar {
  width: 33px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 15px 10px;
}

.profile {
  display: inline-block;
  vertical-align: middle;
  color: hsl(215, 51%, 70%);
  font-size: 15px;
}
.author {
  color: hsl(0, 0%, 100%);
  transition: 0.3s;
}
.author:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
.author:active {
  opacity: 0.7;
}

.wrapper {
  border-top: 1px solid hsl(215, 32%, 27%);
  margin-top: 24px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}
